@import url('authentication.css');

@media screen and (max-width: 1400px)
{
    body{
        width: 1400px;
    }
}

.content-box {
    float: left;
    width: 48%;
    height: 100%;
    display: inline;
}

.img-background {
    position: absolute;
    width: 50.1em;
    opacity: 0.65;
    min-width: 30em;
    top: 1em;
    display: block;
}

.img-text {
    position: absolute;
    width: 22%;
    min-width: 23em;
    top: 14em;
    left: 13em;
}

.login-box {
    float: left;
    width: 44%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    margin-right: 4%;
}

.form-box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    top: 15%;
}

.form-error {
    margin-top: -7%;
}

.name-main-box {
    position: relative;
    font-family: 'Century Gothic', sans-serif;
    font-size: 44px;
    text-align: center;
    font-weight: initial;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.header-login-box {
    position: relative;
    background: radial-gradient(at center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));;
}

.tip-box {
    position: relative;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    top: -2.45em;
    font-size: 17px;
}

.reg-box {
    margin-top: 40%;
    width: 100%;
    text-align: center;
    font-family: "Century Gothic", serif;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.15);
}

.text-href-reg {
    color: white;
    display: inline;
}

.href-reg {
    color: #9af8ff;
    text-decoration: none;
    display: inline;
}


